<!DOCTYPE html>
<head>
  <title>HTML and CSS "Hello World"</title>
</head>
<body class="hello">
  <h1>Hello Wrold Example</h1>
  <marquee><p>This is a very basic "Hello World" example made up in HTML and CSS. See if you can change the size of the header text above.</p></marquee>
  <span class='bug'>
    <img src='http://www.freepngimg.com/download/bugs/4-2-bug-png-2.png'>
  </span>
</body>
</html>