<!DOCTYPE html>
<head>
  <title>HTML and CSS "Hello World"</title>
</head>
<body class="hello">
  <h1>Hello Wrold Example</h1>
  <p>This is a very basic "Hello World" example made up in HTML and CSS. See if you can change the size of the header text above.</p>
  <span style="width: 80%; height: 80%">
    <img src='https://blackgeoscientists.files.wordpress.com/2014/06/helloworld.jpg?w=1400&h=1050'>
  </span>
</body>
</html>