// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #2D2D2D;
}

h1 {
  color: #C26356;
  font-size: 30px;
  font-family: Menlo, Monaco, fixed-width;
}

p {
  color: white;
  font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}